@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>Models: </h5>
    <a asp-action="Index" asp-controller="People">People</a>
    <a asp-action="Index" asp-controller="Addresses">Addresses</a>
    <a asp-action="Index" asp-controller="Businesses">Businesses</a>
</div>
